<table class="table"style="margin-left: 10px;margin-top: 10px;" *ngIf=Data border="2" >
  <tr>
  <th>Id</th>
    <th>Name</th>
    <th> City</th>
    <th>Gender</th> 
    <th>Department</th>
    <th>Action</th>
   </tr>
   <tr *ngFor="let data of Data,let i=index">
     <td>{{i+1}}</td>
     <!--<td *ngIf="editindex !==i">{{data.id}}</td> -->
    <td *ngIf="editindex !==i">{{data.name}}</td>
    <td *ngIf="editindex !==i">{{data.city}}</td>
    <td *ngIf="editindex !==i">{{data.gender}}</td>
    <td *ngIf="editindex !==i">{{data.department}}</td>
     <!-- <td *ngIf="editindex ===i"><input type="text" [(ngModel)]="data.id"></td> -->
    <td *ngIf="editindex ===i"><input type="text"[(ngModel)]="data.name"></td>
    <td *ngIf="editindex ===i"><input type="text"[(ngModel)]="data.city"></td>
    <td *ngIf="editindex ===i"><input type="text"[(ngModel)]="data.gender"></td>
    <td *ngIf="editindex ===i"><input type="text"[(ngModel)]="data.department"></td>
    <td><button type="btn" (click)="save(i,data)">save</button>
   <button type="btn"(click)="update(i)">update</button>
   <button type="btn"(click)="delete(i,data)">delete</button>
   <button type="btn"(click)="Add(data)">Add</button> </td>
 
    </tr>
    </table>