<!-- <app-employeedata></app-employeedata>
 <router-outlet></router-outlet> --><!--<div class="container"
         fxLayout= "row"
     fxLayout.xs="column"
     fxLayoutAlign="space-evenly  none"
     fxLayoutGap="10px"
     style="margin: 10px auto;"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%" style="background-color: blueviolet;;height:161px">Item 1</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3" style="background-color: red;height:161px">Item 2</div>
  <div class="item item-3" fxFlex style="background-color:blue;height:161px">Item 3</div>
</div>

<div class="container"
     fxLayout= "row"
     fxLayout.xs="column"
     fxLayoutAlign="space-evenly none"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0" style="margin: 10px auto;">
  <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0" style="background-color: rgb(43, 153, 226);height:161px">Item 4</div>
  <div class="item item-5" fxFlex="200px" style="background-color: yellow;height:161px;">Item 5</div>
</div> -->

<app-treechart></app-treechart>